<article class="template">
  <header>
    <h4>{{#link-to "templates.namespace" template.namespace}} {{template.namespace}} {{/link-to}}/ {{#link-to "templates.detail" template.namespace template.fullName}}{{template.name}}{{/link-to}}</h4>
  </header>
  <p class="description">
    {{template.description}}
  </p>
</article>
